@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import '~dropzone/dist/min/dropzone.min.css';

/* @import url('https://fonts.googleapis.com/css?family=Cairo:600&display=swap'); */

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Cairo';
    src: url('assets/fonts/ArbFONTS-Cairo-SemiBold-1.ttf');
}

*{
    text-align: right;
    margin:0;
    padding: 0;
}
.login-page{
    min-height: 100vh;
}
.shadow{
    border-radius: 25px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
}
.search{
    background-color: #E4E4E4;
    border-radius: 30px;
}
button{
    border:1px solid #3064CE !important;
    border-radius: 30px !important;
    padding:10px 35px !important;
    margin:10px;
    color: #3064CE !important;
}
.fa-search{
    position: absolute;
    top: -2px;
    right: 0;
    background-color: #3064CE;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
}
.base-info .cal{
    margin-top: -4px;
    /* width: 40px;
    height: 40px; */
}
.item{
    background-color: #fff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.status-img{
    
    cursor: pointer;
    position: relative;

}
.marked{
    position: absolute;
    top: 75%;
    left: 75%;
    width: 35px !important;

}
#swal2-content{
    text-align: center;
}
.swal2-styled.swal2-confirm{
    background-color: #3064CE !important;
    color:#fff !important
}
.swal2-styled.swal2-cancel{
    background-color: transparent !important;
}
.modal-content{
    border-radius: 30px !important;
}
.status-img img{
    width: 100px;
    /* width:45px;
    height: 45px; */
}
.userid span{
    padding: 7px 16px;
    color: #3064CE;
    border-radius: 20px;
    background-color: #EDF1FC;
}
.login-form{
    border-radius: 25px;
    box-shadow: 0 0 5px #ccc;
    height: 430px;
    width: 60%;
}
.btn-login{
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    background-color: #3064CE;
}
.left-login{
    background-image: url(./assets/images/login.png);
    background-size: 100% 100%
}
.abs-img{
    position: absolute;
    right: 0;
    z-index: -4
}
/* .full-page{
    height: 100vh;
    background-position: right top;
    background-image: url(./assets/images/curve.png);
    background-size: 45% 60%;
    background-repeat: no-repeat;
} */
.login-input{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-left: 30px;
}
.search-input{
    text-align: left;
    border-radius: 30px;
}
.login-input:focus {
   box-shadow: none;
  }
  .form-group{
      position: relative;
  }
  .form-group img{
    position: absolute;
    left: 0;
    top: 13px;
    width: 20px;
  }
  .pointer{
    cursor: pointer;
  }
  .active-btn{
      background-color: #3064CE;
      color:#fff !important
  }
  @media (max-width:768px){
    .login-form{
        width:95%
    }

    .right-login{
        padding: 50px 10px !important;
        }
        .shadow{
            padding: 0 !important;
        }
        .search{
            padding: 10px !important;
        }
        .comp-wrapper
        {
            width: 100% !important;
        }
        .item{
            width: 95%;
    margin: auto;

        }
        .base-info img{
            margin:0 !important
        }
}